* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultBannerImg,
.roomsBannerImg {
  min-height: calc(100vh - 66px);
  background: url("./images/cover.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  background-attachment: fixed;
 /* background-position-x: initial; */
 /* background-position-y: initial; */
  justify-content: center;
}
.roomsBannerImg {
  background-image: url("./images/cover.jpg");
  min-height: 60vh;
}
/* .roomsBannerImg:hover {
  background: transparent;
  background-image: url("./images/defaultBcg.jpeg");
  background-image: url("./images/Category_Banners-decorativepage.jpg");
} */
/* End of Banner*/
/* Banner */
.banner {
  display: inline-block;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5)!important;
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  width: 52%;
  height: 30%;
 
}
.banner:hover {
  background: transparent !important;
  background-color:initial;
}

.banner h1 {
  font-size: 1.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
  flex-direction: column;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
 
  
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 1rem 2rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of BannerImg */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

/* end of Title */
.slider_title {
  font-size: 5vw;
  color: tomato;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2vw;
}

.card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 100%;
  height: 480px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover img {
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .card-image {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all .9s;
  transition: all .9s;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.social-icons li a:hover .fa {
  color: #fff;
}

.social-icons li a .fa {
  -webkit-transition: .8s;
  transition: .8s;
}

.social-icons li a .fa:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #fff;
}

.card:hover li:nth-child(1) a {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.card:hover li:nth-child(2) a {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.card:hover li:nth-child(3) a {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.card:hover li:nth-child(4) a {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.details {
  display: flex;
  position: absolute;
  bottom: 200px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  z-index: 1;
  padding: 10px;
  -webkit-transition: .6s;

  transition: .6s;
}

.details h4 {
  margin: 10px 0;
  padding: 10px;

}
.details  h4 .tag{

color: rgb(136, 127, 127);
}

details h4 .job-title {
 
  font-size: 15vw;
  line-height: 2;
  color: #333;
  width: 60%;
  height: 120px;
  text-align: left;
  font-style:oblique;
  display: flex;
}
.details h4 .job-title-price{
  font-size:10vw;
  line-height:2;
  color: rgb(226, 181, 98);
  width: 40%;
  height: 70px;
  text-align: right;
  display: flex;
}


.card:hover .details .job-title {
  bottom: 0;
}
.card:hover .details {
  bottom: 0;
}

.details:hover .job-title-price{
  bottom: 0;
  color: coral;
}

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: .5;
  color: #000;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel .slick-dots li.slick-active button, .carousel .slick-dots li:hover button {
  border-color: tomato;
}

.carousel .slick-dots li.slick-active button:before, .carousel .slick-dots li:hover button:before {
  background-color: tomato;
  opacity: 1;
}

.carousel .slick-prev, .carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover, .carousel .slick-prev:focus, .carousel .slick-next:hover, .carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}


 /* Product Details */
.Pro_details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.Pro_details-image {
  flex: 1 1 100px;
}
.Pro_details-image img {
  max-width: 60rem;
  width: 100%;
}
.Pro_details-info {
  flex: 1 1 100px;
}
.Pro_details-action {
  flex: 1 1 100px;
}

.Pro_details-info ul,
.Pro_details-action ul {
  list-style-type: none;
  padding: 0;
}
.Pro_details-info li,
.Pro_details-action li {
  margin-bottom: 1rem;
}
.Pro_back-to-result {
  padding: 1rem;
}
.Pro_details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.Pro_details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}

/*# sourceMappingURL=App.css.map */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


